@keyframes Square {
    from {background-color: white;}
    to {background-color: black;}
}
@keyframes Square-text {
    0% {background-color: red}
    50% {background-color: green}
    100% {background-color: blue}
}
* {max-width: 100%;}

/*#Main-header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    /*animation: Square 5s linear 2s infinite alternate;*/
}
*/
#nav-top {
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
    background-color: aquamarine;
    left: 0;
    
}
#nav-list {
    position: relative;
    min-height: 5%;
    max-height: 10%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    width: 25%;
    float: left;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-overflow: inherit;
    
}
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
    font-size: 2rem;
    font-size-adjust: auto;
    width: 100%
}
a:hover { background: white; color: #333;}
li:hover {background: white; color: #333;}

.targetImage {
    position: relative;
    height: auto;
    width: 100%;
    top: 5%;
    left: 0;
}
